* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bebas-neue {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

#backgroundVideo {
    border: none;
}

.fuko {
    margin: 0;
    display: flex;
    height: 100vh;
    text-align: left;
    position: relative;
    justify-content: center;
    overflow: hidden;
    border: none;
}

.text-content {
    max-width: 600px;
    padding: 20px;
    text-align: left;
    color: red;
    margin-top: 100px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    color: black;
}


/* video {
    position: absolute;
    top: 0px;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%) scale(1.1) rotate(5deg);
    z-index: -1;
    border: none;
} */

.video-overlay{
position: relative;
}

.video-overlay::before, .video-overlay::after {
    content: "";
    background: inherit; 
    transform: translate(-50%) rotate(30deg); 
    opacity: 0.5; 
}

.video-overlay::after {
    transform: translate(-50%) rotate(-30deg); 
}

h1,
h2,
h3 {
    margin: 10px 0;
    text-align: left;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
    font-weight: 500;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

/* Definición de la animación de fade continua */
@keyframes fadeContinuous {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Aplicación del efecto de fade continuo al h2 */
h2.fadeContinuous {
    animation: fadeContinuous 3s infinite ease-in-out;
}


.contacto {
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}

.contacto ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.contacto a {
    color: black;
    text-decoration: none;
}

.fa-copyright,
.fa-house {
    color: red;
    font-weight: 400;
}

.webpage-nat a {
    color: red;
}

.titular {
    padding-bottom: 20px;
}

.titular-clio {
    color: red;
}

.titular-clio span {
    color: black;
}

.bebas-neue p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8rem;
    line-height: 1.6;
    color: black;
    margin-bottom: 20px;
}

.mas-info {
    padding: 20px;
    text-align: justify;
}

.pregunta {
    color: red;
}

/* Botones */
.button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 20px;
    z-index: 99;
}

#goToHomeBtn,
#scrollToTopBtn {
    display: none;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 15px;
    font-size: 1.25em;
}

#scrollToTopBtn,
#goToHomeBtn {
    background-color: red;
}


#scrollToTopBtn:hover,
#goToHomeBtn:hover,
#goToInfoBtn:hover {
    background-color: black;
}

#goToInfoBtn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 15px;
    font-size: 1.25em;
}

@media (max-width: 768px) {
    .text-content {
        margin-top: 50px; 
        padding: 10px; 
        position: absolute;        
    }

    h1 {
        font-size: 4rem; 
    }

    h2 {
        font-size: 2rem; 
    }

    h3 {
        font-size: 1.5rem; 
    }

    .button-container {
        bottom: 10px; 
        right: 10px; 
    }

    #goToInfoBtn {
        padding: 10px; 
        font-size: 1em; 
    }

    .contacto ul {
        flex-direction: column; 
        gap: 5px; 
    }
}